html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-color: #FEC352 ;
  border-bottom-width: 5px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-color: #FEC352 ;
  border-bottom-width: 5px;
}
.form-signin input[type="text"]:focus {
  border-bottom-color: #FF8540 ;
}
.form-signin input[type="password"]:focus {
  border-bottom-color: #FF8540 ;
}

.lgn-btn{
  background-color: #FEC352 ;
  border-color: #FEC352 ;
  color: black;
}

.lgn-btn:hover{
  background-color: #FF8540 ;
  border-color: #FF8540 ;
  color: black;
}